@import url(http://fonts.googleapis.com/css?family=Trade+Winds|Special+Elite);

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #222;
  font-family: Helvetica, Verdana, sans-serif;
  color: #eee;
  font-size: 14px;
}

.wrap {
  background-color: #000;
}

.main {
  background-color: #fff;
  color: #333;
  padding: 20px 20px 60px;
  border-radius: 5px 5px 0 0;
}

p {
  margin: 1em 0;
}

a, a:visited {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #000;
}

.container {
  width: 760px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content:"";
  display:table;
}
.container:after {
  clear:both;
}
.container {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

header {
  padding: 40px 0;
}

header h1 {
  font-size: 80px;
  font-family: 'Trade Winds', cursive;
  font-weight: normal;
  text-align: center;
  line-height: 0.5em;
}

header h1 a:hover {
  color: #fff;
}

header h1 small {
  font-size: 15px;
  font-family: serif;
  color: #fff;
  display: block;
  font-weight: bold;
}

.main h1 {
  margin-bottom: 2em;
}

.main h2 {
  font-size: 20px;
}

footer {
  text-align: center;
  margin: 40px 0;
}

footer a, footer a:visited {
  color: #fff;
}

footer .divider {
  margin: 0 30px;
}

footer .copyleft {
  font-size: 13px;
}

footer a:hover {
  color: #ccc;
}

