@import url(http://fonts.googleapis.com/css?family=Trade+Winds|Special+Elite);

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #222;
  font-family: Helvetica, Verdana, sans-serif;
  color: #eee;
  font-size: 14px;
}

.wrap {
  background-color: #000;
}

.main {
  background-color: #fff;
  color: #333;
  padding: 20px 20px 60px;
  border-radius: 5px 5px 0 0;
}

p {
  margin: 1em 0;
  line-height: 1.5;
  text-align: justify;
}

li {
  margin-left: 40px;
  line-height: 1.5;
  text-align: justify;
}

a, a:visited {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #000;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
  color: #777;
  font-weight: 500;
}

h1, h2 {
  margin: 30px 0 10px;
}

h1, h1 a, h1 a:visited, h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
  color: #333;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  color: #999;
}

.container {
  width: 760px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content:"";
  display:table;
}
.container:after {
  clear:both;
}
.container {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 20px;
  padding: 1.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  font-size: 18px;
  display: inline;
}

blockquote em {
  font-size: 14px;
}

/* HEADER */

header {
  padding: 40px 0 0px;
}

header h1 {
  font-size: 80px;
  font-family: 'Trade Winds', cursive;
  font-weight: normal;
  text-align: center;
  line-height: 0.8;
  margin-bottom: 40px;
}

header h1 a, header h1 a:visited, header h1 a:hover {
  color: #999;
}

header h1 small {
  font-size: 15px;
  font-family: serif;
  color: #fff;
  display: block;
  font-weight: bold;
}

header nav {
  text-align: center;
}

header nav a {
  padding: 8px 10px;
  font-weight: 600;
  font-size: 17px;
  border-radius: 10px 10px 0 0 ;
  margin: 0 10px;
  display: inline-block;
  min-width: 100px;
  transition: all .3s ease-in-out;
}

header nav a, header nav a:visited {
  background-color: #555;
  color: #fff;
}

header nav a:hover {
  background-color: #fff;
  color: #555;
}

/* FOOTER */

footer {
  margin: 40px 0;
}

footer p {
  text-align: center;
}

footer a, footer a:visited {
  color: #fff;
}

footer .divider {
  margin: 0 30px;
}

footer .copyleft {
  font-size: 13px;
}

footer a:hover {
  color: #ccc;
}

/* POST */

.post .author {
  font-family: serif;
  font-size: 18px;
  font-style: italic;
  color: #666;
  margin: 0;
}

.post .meta {
  text-align: right;
  font-size: 13px;
  color: #777;
  margin: 0;
}

.post-content {
  margin-top: 40px;
}

.disqus {
  margin: 40px 0;
  text-align: center;
}

.post p:first-child:first-letter {
  font-family: serif;
  font-size: 60px;
  float: left;
  margin-right: 10px;
  line-height: 0.5;
}

.main p a {
  text-decoration: underline;
}

/* ISSUE */

.issue h1, .issue h2 {
  text-align: center;
}

.issue h2 {
  margin: 0 0 60px;
  font-size: 20px;
}

.issue ol {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 300px;
  min-height: 300px;
  margin-bottom: 80px;
}

/* INDEX */

.posts {
  margin-left: 40px;
}

.posts li {
  margin-bottom: 10px;
  text-shadow: #eee 0 0 1px;
}

.posts .author {
  font-size: 14px;
}

.comments-count {
  font-size: 11px;
}
