<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>
      {% if page.title %}
        {{ page.title }} ·
      {% elsif page.number %}
        {{ site.data.issues[page.number].title }} ·
      {% endif %}

      {{ site.title }}
    </title>

    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% elsif page.excerpt %}
      <meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 200 | strip_newlines | escape_once }}" />
    {% elsif page.number %}
      <meta name="description" content="{{ site.data.issues[page.number].title }}, a edição número {{ page.number }} do Zine Reviva." />
    {% else %}
      <meta name="description" content="{{ page.content | strip_html | truncatewords: 200 | strip_newlines | escape_once }}" />
    {% endif %}

    <link href="/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">

    {% include google_analytics.html %}
  </head>

  <body>
    <div class="wrap">
      <div class="container">
        {% include header.html %}

        <div class="main">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
